<h1>Entity: {{name}}</h1>
<p><i>{{lookup (lookup entityHierarchy name) 'description'}}</i></p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{#each pathLinks}}
      <li class="breadcrumb-item"><a href="{{this}}">{{@key}}</a></li>
    {{/each}}
  </ol>
</nav>

<table class="table">
  <thead>
  <tr>
    <th>Properties</th>
    <th>Expected Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  {{#each pathLinks as |path|}}
    <tr>
      <th colspan="3"><b>Properties from: <a href="{{path}}">{{@key}}</a></b></th>
    </tr>
    {{#each (lookup (lookup ../entityHierarchy path) 'properties') as |prop|}}
      <tr>
        <td><a href="{{lookup (lookup ../../predicateHierarchy prop) 'path'}}">{{prop}}</a></td>
        <td>
          {{#each (lookup (lookup ../../predicateHierarchy prop) 'expectedTypes') as |expectedType|}}
            <a href="{{lookup (lookup ../../../entityHierarchy expectedType) 'path'}}">{{expectedType}}</a> &nbsp;
          {{/each}}
        </td>
        <td>{{lookup (lookup ../../predicateHierarchy prop) 'description'}}</td>
      </tr>
    {{/each}}
  {{/each}}
  </tbody>
</table>

<h4>Child nodes</h4>
<ul class="list-group">
  {{#each (lookup (lookup entityHierarchy path) 'children') as |child|}}
    <li class="list-group-item">
      <a href="{{../name}}/{{child}}">{{child}}</a>
    </li>
  {{/each}}
</ul>
